@charset "utf-8";

:root {
    --color1: hsl(238, 29%, 16%); /* text */
    --color2: hsl(14, 88%, 65%); /* text */
    --color3: hsl(237, 12%, 33%); /* text */
    --color4: hsl(240, 6%, 50%); /* text */
    --color5: hsl(273, 75%, 66%); /* bg */
    --color6: hsl(240, 73%, 65%); /* bg */
    --color7: hsl(240, 5%, 91%); /* dividers */

    --ff-base: 'Kumbh Sans', sans-serif;

    --fw-normal: 400;
    --fw-bold: 700;
}

body {
    background-image: linear-gradient(to bottom, var(--color5), var(--color6));
    font-family: var(--ff-base);
    font-weight: var(--fw-normal);
    font-size: 12px;
    font-size: 0.75rem;
}

main {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.card {
    width: 335px;
    background-color: white;
    border-radius: 20px;
}

.img-container {
    height: 150px;
    position: relative;

    background: url(../images/bg-pattern-mobile.svg) no-repeat center;
}

.img {
    width: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

.content {
    padding: 0px 30px 40px 30px;
}

.title {
    color: var(--color1);
    font-size: 2.4em;
    font-weight: var(--fw-bold);
    text-align: center;
    margin: 20px;
}

.subtitle {
    color: var(--color3);
    font-weight: var(--fw-normal);
    font-size: 13px;
    margin: 16px 0px;
}

.paragraph {
    color: var(--color4);
    display: none;
}

.line {
    border: 1px solid var(--color7);
}

.footer {
    font-size: 11px;
    text-align: center;
}

.footer a {
    color: hsl(228, 45%, 44%);
}
