@charset "utf-8";

:root {
    --color1: hsl(238, 29%, 16%); /* text */
    --color2: hsl(14, 88%, 65%); /* text */
    --color3: hsl(237, 12%, 33%); /* text */
    --color4: hsl(240, 6%, 50%); /* text */
    --color5: hsl(273, 75%, 66%); /* bg */
    --color6: hsl(240, 73%, 65%); /* bg */
    --color7: hsl(240, 5%, 91%); /* dividers */

    --ff-base: 'Kumbh Sans', sans-serif;

    --fw-normal: 400;
    --fw-bold: 700;
}

body {
    background-image: linear-gradient(to bottom, var(--color5), var(--color6));
    font-family: var(--ff-base);
    font-weight: var(--fw-normal);
    font-size: 12px;
    font-size: 0.75rem;
}

main {
    min-height: calc(100vh - 32.4px);
    display: grid;
    place-content: center;
}

/* ---------- card ---------- */

.card {
    display: flex;
    flex-flow: column nowrap;
    width: 335px;
    background-color: white;
    border-radius: 20px;
    margin-top: 120px;
}

.img-container {
    height: 125px;
    position: relative;
}

.img {
    width: 240px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -15%;
    left: 50%;
}

.img-background {
    height: 100%;
    background: url(../images/bg-pattern-mobile.svg) no-repeat top;
}

.content {
    padding: 25px 25px 50px 25px;
}

.title {
    color: var(--color1);
    font-size: 2.6em;
    font-weight: var(--fw-bold);
    text-align: center;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

/* ---------- question blocks ---------- */

.question-block {
    margin: 16px 0px;
    margin: 1rem 0rem;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question-title {
    color: var(--color3);
    font-weight: var(--fw-normal);
    font-size: 13px;
}

.question-answer {
    margin-top: 12px;
    margin-top: 0.75rem;
    padding-right: 24px;
    padding-right: 1.5rem;
    color: var(--color4);
    display: none;
}

.line {
    border: 1px solid var(--color7);
}

/* ---------- footer ---------- */

.footer {
    font-size: 12px;
    font-size: 0.75rem;
    text-align: center;
    color: var(--color7);
    margin: 6px;
}

.footer a {
    color: inherit;
    font-weight: var(--fw-bold);
}

.footer a:hover {
    color: var(--color2);
}
