@charset "utf-8";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-height: 100vh;
}

/* Accessible line-height
   Improve text rendering */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1;
}
